[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=nicolas
Group=nicolas
WorkingDirectory=/home/nicolas/app/src/
Environment="PATH=/home/nicolas/app/venv/bin"
EnvironmentFile=/home/nicolas/.env
ExecStart=/home/nicolas/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target